body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h3{
  margin: 0;
  padding: 0;
}

:root {
  --color1: #f2f2f2;
  --color2: #000000;
  --color3: #30333f;
  --color4: #eab561;
  --color5: #ffffff;
  --color6: #3a3d45;
  --color7: #e3b66e;
  --color8: #2e3137;
  --font1: "Montserrat", Arial, sans-serif;
  --color9: #dbdbdb;
}
a {
  text-decoration: none;
}
.BOX {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cont0 {
  width: 50%;
  background: var(--color9);
}

.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 753px;
}

.box1 {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--color1);
  text-align: center;
}
.box11 {
  padding: 2%;
  display: grid;
  grid-template-columns: 80% 20%;
  background: var(--color1);
  justify-items: legacy;
}

.box11 span {
  color: var(--color2);
  font-family: var(--font1);
  text-align: center;
  font-weight: 400;
  font-size: 2vw;
}

.box111 {
  width: 3.5vw;
  background-position: center, center;
  background-size: cover;
  background-image: url(/praktika/1/img/1.webp);
}
.box12 {
  background-color: var(--color3);
}
.box12 h2 {
  color: var(--color5);
  font-size: 3vw;
  text-transform: uppercase;
}
.box12 span,
.box15 span {
  color: var(--color4);
}

.box13 {
  background-color: var(--color4);
  font-size: 2vw;
  background-size: cover;
  color: var(--color6);
  padding: 1%;
}
.box14 {
  background-image: url(/praktika/1/img/2.webp);
  width: 100%;
  height: 40vw;
  background-position: center, center;
  background-size: cover;
}
.box15 {
  background-color: var(--color8);
  font-size: 3vw;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color5);
  padding: 2% 0% 2% 0%;
}
.img1,
.img2 {
  background: url(/praktika/1/img/3.webp);
  width: 2.1vw;
  height: 2.8vw;
  background-position: center, center;
  background-size: contain;
}
.box16 {
  display: grid;
  grid-template-columns: 1fr;
}
.box16 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  color: var(--color3);
  font-weight: 400;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  width: 80%;
  padding: 1.5%;

  border-width: 2px;
  border-radius: 20px;
  background-color: #30323e;
  background-position: center center;
  border-color: var(--color4);
  border-style: solid;
}

#yellow {
  color: var(--color4);
}
.wite {
  color: var(--color5);
}

.box161 {
  display: flex;
  flex-direction: column;
  background-color: var(--color6);
  justify-content: center;
  align-items: center;
  gap: 1vw;
  padding: 10% 0% 5% 0%;
}
.box162 {
  display: flex;
  flex-direction: row;
  gap: 0.5vw;
}

.box163 {
  font-size: 4vw;
}
.box164 {
  font-size: 2vw;
  text-align: left;
}
.box17 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box171 {
  background: var(--color4);
  margin: 25% 5% 5% 5%;
  font-size: 3.5vw;
  padding: 10% 30% 10% 30%;
  border-radius: 35px;
}
.box171 a {
  color: var(--color3);
  font-weight: 700;
  font-family: var(--font1);
}
.box172 a {
  font-size: 2.2vw;
  color: var(--color1);
  border-bottom: 2px solid var(--color1);
}
.box72 {
  font-size: 3vw;
  color: var(--color1);
  margin: 50% 0% 20% 0%;
}

.box1011 {
  max-width: 90%;
  padding: 2%;
  background: var(--color1);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.box1011 :nth-child(3) {
  transform: translateY(-700%);
  align-items: end;
}
.box1011 img {
  background-position: center, center;
  background-size: cover;
  transition: 0.2s ease;
  object-fit: cover;
  width: 90%;
}
#left {
  width: 3vw;
  height: 3vw;
  background-image: url("img/left2.png");
  background-position: center, center;
  background-size: cover;
  transform: rotate(180deg);
}
#rite {
  width: 3vw;
  height: 3vw;
  background-image: url("img/left2.png");
  background-position: center, center;
  background-size: cover;
  transform: rotate(360deg);
}
.box8 {
  font-size: 5vw;
  align-items: center;
  margin: 10% 0% 10% 0%;
}

.table {
  border-collapse: collapse;
  text-align: center;
  width: 90%;
}
.table td {
  color: var(--color1);
  text-align: left;
}
.table td:nth-child(1) {
  width: 50%;
  font-size: 2vw;
  padding-left: 5%;
}

.table td:nth-child(1) h3 {
  font-weight: 700;
}

.table td:nth-child(2) {
  width: 50%;
  font-size: 2vw;
}
.table td:nth-child(2) h3 {
  font-weight: 100;
}

.table tr:nth-child(2),
.table tr:nth-child(4) {
  background: var(--color3);
}

.box9 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  border-top: 1px solid var(--color1);
  color: var(--color1);
  font-size: 3vw;
}
.box91 {
  display: grid;
  grid-template-columns: 80% 20%;
  width: 100%;
  align-items: center;
  justify-items: center;
}
.box92 {
  border-radius: 50%;
  background: var(--color1);
}
#box93 {
  justify-self: left;
}

.menu-burger2 {
  display: flex;
  flex-direction: column;
  width: 5vw;
  aspect-ratio: 1;
  cursor: pointer;
  z-index: 999;
  justify-content: center;
  align-items: center;
}
.menu-burger2 > span {
  width: 70%;
  height: 10%;
  background-color: var(--color4);
  border-radius: 0.25rem;
  transition: all 0.4s;
  margin-bottom: -6%;
}
.faq1 {
  color: red;
  transform: rotate(90deg);
}
.faq11 {
  transform: rotate(45deg);
  transition-duration: 2s;
}
.faq2 {
  transform: translateY(-5px);
}
.faq21 {
  transform: rotate(-45deg);
}

.table2 {
  border-collapse: collapse;
  /*width: 90%;*/
  max-height: 0;
  display: none;
  transition-duration: 1s;
}
.activ {
  display: flex;
  justify-content: space-around;
  transition-duration: 1s;
}

.table2 h4 {
  font-size: 2vw;
  min-width: 10vw;
  text-align: center;
}

.table2 td {
  font-size: 2.7vw;
  color: var(--color1);
}
/*
.table2 td:nth-child(1) {
  
}*/
.activ2 {
  border-left: 1px solid var(--color1);
  transition-duration: 1s;
}
/*
.table2 td:nth-child(2) {
   border-left: 0px;
}
*/

.foto1 {
  background: url(/praktika/1/img/f16.webp);
  width: 100%;
  height: 30vw;
  background-position: center, center;
  background-size: cover;
}

.foto2 {
  background: url(/praktika/1/img/f21.webp);
  height: 10vw;
  background-position: center, center;
  background-size: cover;
  margin: 3%;
}
.box10 {
  display: flex;
  width: 65%;
  flex-direction: column;
  align-items: center;
}
.box101 {
  display: grid;
  grid-template-columns: 10% 90%;
  width: 90%;
  text-align: left;
  color: var(--color1);
  align-items: self-end;
}
.boxx {
  max-height: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: justify;
  color: var(--color1);
  transition-duration: 1s;
}
.boxx h4 {
  opacity: 0;
  color: var(--color1);
  font-size: 1.3vw;
  transition-duration: 1s;
}

.FORMA {
  width: 80%;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.form span {
  color: var(--color1);
}
.form input {
  height: 4vw;
  border-radius: 7px;
  width: 70%;
  font-size: 1.5vw;
  padding-left: 5%;
}

.form input:nth-child(3) {
  height: 8vw;
}
.form1 {
  display: flex;
  width: 50%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}


input[type="radio"] {
  width:2.5vw;
}

/*
label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%; /* Делаем его круглым *//*
  cursor: pointer;
  position: relative; /* Для позиционирования галочки *//*
  margin-right: 8px;
}*//*

input[type="radio"]:checked + ::after{
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 3px;
  height: 3px;
  border: solid rgb(251, 6, 6);
  border-radius: 50%;
  background: rgb(255, 255, 255);
}
/* Можно изменить цвет фона при выбранном чекбоксе */
/*input[type="checkbox"]:checked + label {
 background-color: #4CAF50;
  border-color: #4CAF50;
}*/

.butom {
  background: var(--color4);
  width: 74%;
  font-size: 3vw;
  font-weight: 600;
  border-radius: 7px;
  border: none;
  color: var(--color6);
  padding: 3%;
}

.telef {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.telef1 {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color8);
  border-radius: 30px;
  font-size: 2vw;
  padding: 5% 0% 5% 0%;
}
.telef1 span {
  color: var(--color1);
  margin-top: 5%;
}
.tel2 {
  background: url(/praktika/1/img/f22.webp);
  width: 5vw;
  height: 5vw;
  background-position: center, center;
  background-size: cover;
}
.tel3 {
  border-bottom: 5px solid var(--color4);
  width: 20%;
  border-radius: 30px;
  margin: 10%;
}
.tel4 {
  border-radius: 20px;
  background: var(--color4);
  padding: 5%;
}
.tel4 a {
  text-decoration: none;
  color: var(--color2);
}
.foo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color1);
  margin: 5% 5% 10% 5%;
  font-size: 2vw;
  gap: 2.5vw;
}
.foo a {
  text-decoration: none;
  color: var(--color1);
}
.foo b {
  font-size: 2.5vw;
}
.foo span:nth-child(7){
  /*color: red;*/
  width: 103%;
}

.foo2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
.viber{
  background: url(/praktika/1/img/f24.webp);
  width: 4vw;
  height: 4vw;
  background-position: center, center;
  background-size: cover;
}
.telega{
  background: url(/praktika/1/img/f25.webp);
  width: 4vw;
  height: 4vw;
  background-position: center, center;
  background-size: cover;
}